p {
    background-color: blue;
    color: white;
    font-size: 50px;
    border-radius: 10px;
    border: 10px solid black;
}

h2 {
    color: red;
}

h3 {
    color: green;
}

span {
    color: blue;
}

#Git {
    color: red;
}

#thankfully {
    color: pink;
}